<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/HPcss.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <title>Pagina inicial</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo">
                        <img src="../img/logo-teste.png" alt="" />
                        <span class="nav-item nameLg">Glitch Software</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-wallet"></i>
                        <span class="nav-item">Carteira</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Análise</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-tasks"></i>
                        <span class="nav-item">Tarefas</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <span class="nav-item">Configurações</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question-circle"></i>
                        <span class="nav-item">Ajuda</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="tst">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem perferendis aliquam vero tempora
                    numquam quidem maxime quia nesciunt commodi necessitatibus doloremque ipsam, eos tenetur, laboriosam
                    ipsum eum quasi maiores officiis!</p>
            </div>
        </div>
    </main>
</body>

</html>