@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  color: #303842;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;

}

a:hover {
  opacity: 0.7;
  color: #238f8d;
}

.active {
  font-weight: bold;
  color: #238f8d;
}

.space {
  height: 4vh;
  background-color: transparent;
}

.bg-header-main {
  background: url("../img/bg.png") no-repeat center center;
  height: 70vh;
}

.logo {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  color: #303842;
  padding: auto;
  margin-left: -25%;
}

nav img {
  width: 35%;
  margin-top: 3%;
}

nav {
  width: 85%;
  margin-left: 7.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #fff;
  height: 8vh;
  border-radius: 5px;
}


.nav-list img {
  width: 40%;
  padding-left: 30%;
}

.nav-list img:hover {
  opacity: 0.7;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.perfil {
  background-color: transparent;
  border-color: transparent;
  display: flex;
}

.perfil img {
  width: 65%;
  height: auto;
  background-image: url('../img/account-circle.png') no-repeat center center;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  color: #303842;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #238f8d;
  margin: 8px;
  transition: 0.3s;
}


main {
  background-size: cover;
}

.arrow {
  text-align: center;
  margin-top: -1.8%;
  width: 100%;
  height: 100%;
}

/* about */

.about {
  width: 100%;
}

.about .container {
  width: 80%;
  display: block;
  margin: 0px auto;
  padding: 50px 0px;
}

.container .title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.container .title h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: #238f8d;
}

.container .title h1::after {
  content: "";
  height: 5px;
  width: 100px;
  background-color: #303842;
  border-radius: 25px;
  display: block;
  margin: auto;
}

.content {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section img {
  width: 100%;
  height: auto;
}

.content .article h3 {
  color: #a3a3a3;
  font-size: 17px;
}

.content .article p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.content .article .button {
  margin-top: 50px;
}

.content .article .button a {
  padding: 8px 25px;
  background-color: #238f8d;
  border-radius: 40px;
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.content .article .button a:hover {
  color: white;
  background-color: #303842;
  transition: 1s ease;
}

.container .social {
  width: 100%;
  clear: both;
  margin-top: 50px;
  text-align: center;
  display: inline-block;
}

.container .social i {
  color: white;
  font-size: 22px;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  line-height: 45px;
  text-align: center;
  background-color: #303842;
  margin: 0px 5px;
}

.container .social i:hover {
  color: white;
  background-color: #238f8d;
  transition: 1s ease;
  transform: rotate(360deg);
}

/* CONTACT */

.contact {
  width: 100%;
  background-color: #238f8d;
}

.contact .container {
  width: 80%;
  display: block;
  margin: 0px auto;
  padding: 50px 0px;
}

.contact .container .title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.contact .container .title h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: white;
}

.contact .container .title h1::after {
  content: "";
  height: 5px;
  width: 100px;
  background-color: #303842;
  border-radius: 25px;
  display: block;
  margin: auto;
}

#contato {
  background-color: #f1f1f1;
  padding: 20px 0;
}

#contato .container {
  max-width: 800px;
  margin: 0 auto;
}

#contato .row {
  display: flex;
  flex-wrap: wrap;
}

#contato .col {
  flex: 1;
  padding: 0 20px;
}

#contato h2 {
  margin-bottom: 40px;
  color: #238f8d;
  text-transform: uppercase;
}

#contato form input[type="text"],
#contato form input[type="email"],
#contato form input[type="tel"],
#contato form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contato form textarea {
  height: 200px;
}

#contato form button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #303842;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.5s;
}

#contato form button[type="submit"]:hover {
  background-color: #238f8d;
}

#contato .info {
  background-color: #303842;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#contato .info h3 {
  margin-bottom: 20px;
}

#contato .info p {
  margin-bottom: 10px;
}

#contato .info i {
  margin-right: 10px;
  color: #238f8d;
  font-size: 18px;
}

/* FOOTER */
footer {
  width: 100%;
  color: white;
}

.footer_content {
  background-color: #303842;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

.footer_contacts h1 {
  margin-bottom: 0.75rem;
}

.footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.footer_social_media .footer_link {
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.footer_social_media .footer_link .facebook:hover {
  color: #4267b3;
  transition: 1s ease;
  transform: rotate(360deg);
  opacity: 0.8;
}

.footer_social_media .footer_link .twitter:hover {
  color: #00acee;
  transition: 1s ease;
  transform: rotate(360deg);
  opacity: 0.8;
}

.footer_social_media .footer_link .instagram:hover {
  background-image: linear-gradient(#7f37c9, #ff2992, #ff9807);
  border-radius: 30%;
  height: 95%;
  transition: 1s ease;
  transform: rotate(360deg);
  opacity: 0.8;
}

.footer_social_media .footer_link .whatsapp:hover {
  color: #25d366;
  transition: 1s ease;
  transform: rotate(360deg);
  opacity: 0.8;

}

.footer_social_media .footer_link i {
  font-size: 1.25rem;
}

.footer_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.75rem;
}

.footer_list .footer_link {
  color: white;
  list-style: none;
}

.footer_list .footer_link:hover {
  color: #238f8d;
}

.footer_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_copyright {
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
  background-color: #232930;
  font-size: 1.1rem;
  font-weight: 100;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 11.5vh;
    right: 0vh;
    width: 50vw;
    height: 32vh;
    background: #ffffff;
    color: #303842;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media screen and (max-width: 995px) {
  .desappear {
    display: none;
  }

  .nameLogo {
    margin-left: -15px;
  }
}

@media screen and (max-width: 1285px) {
  .nameLogo {
    margin-left: -50px;
  }
}

@media screen and (max-width: 485px) {
  .nameLogo {
    margin-left: -95px;
  }
}

@media screen and (max-width: 768px) {
  .section .container {
    width: 80%;
    display: block;
    margin: auto;
  }

  .content {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section {
    float: none;
    width: 100%;
    margin-top: 50px;
  }

  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .container .title h1 {
    text-align: center;
    font-size: 30px;
  }

  .container .article .button {
    text-align: center;
  }

  .container .article .button a {
    padding: 6px 15px;
    font-size: 16px;
  }

  .container .social i {
    font-size: 19px;
    height: 35px;
    width: 35px;
    line-height: 35px;
  }

}

@media screen and (max-width: 765px) {
  .footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}


@media screen and (max-width: 426px) {
  .footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}


@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col {
    padding: 20px 0;
  }
}

/* LOGIN */

.log {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../img/texture-Log.jpg');
}

.log .login {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.log .login h2 {
  margin: 0 0 20px;
  color: #333;
}

.log .login input[type="email"],
.log .login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
}

.log .login button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #303842;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.log .login button[type="submit"]:hover {
  background-color: #238f8d;
}

.log .login .separator {
  position: relative;
  margin: 40px 0;
}

.log .login .separator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  transform: translateY(-50%);
}

.log .login .separator span {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  background-color: #f2f2f2;
  font-size: 14px;
  color: #666;
}

.log .login.login-google {
  margin-top: 20px;
}

.log .login .login-google img {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.log .login .login-google a {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.log .login.login-google a:hover {
  text-decoration: underline;
}

.log .login .back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.log .login .back-button:hover {
  color: #303842;
}

@media (max-width: 768px) {
  .log .login {
    max-width: none;
  }

  .log .login.back-button {
    top: 10px;
  }
}


































/* CORES
CINZA ESCURO: #303842
VERDE: #238F8D


*/